html {
	background: white;
}

h3 {
	margin: 0px;
	padding: 0px;
}

body {
	min-width: 360px;
	margin: 0px 0px;
	padding: 0px 0px;
	text-align: center;
}

.page-title {
	font-size: 120%;
	text-align: left;
	margin: 10px 0px;
}

.header-container {
	margin: 0;
	position: absolute;
	top: 50%;
	text-align: left;
	position: relative;
	background: #22a2ff;
	color: white;
}

.header-container .header-bar {
	position: absolute;
	right: 100px;
	bottom: 20px;
}

.header-container .header-bar  a {
	color: white;
	font-size: bold;
}

.footer-container {
	text-align: center;
	margin-top: 10px;
	padding: 5px 0px 0px 0px;
}

.menu-container {
	text-align: right;
}

.menu-container a {
	margin: 5px 5px 5px 10px;
	color: #004d99;
	font-weight: bold;
	text-decoration: none;
}

.site-name {
	/* font-size: 120%; */
	padding: 15px;
}

.container {
	margin: 5px 0px;
}

.demo-container, .login-container, .account-container {
	padding: 5px;
	text-align: left;
	margin: 20px 0px;
}

.customer-info-container {
	text-align: left;
	padding: 0px 5px;
	padding-bottom: 20px;
}

.reveiver-info-container {
	padding: 5px;
	width: 30%;
    height: 180px;
	display: inline-block;
	text-align: left;
    border-style: groove;
    background-color: white;
}

.reveiver-info-account-info-container {
	padding: 5px;
	width: 40%;
	display: inline-block;
	text-align: left;
    border-style: groove;
}
.product-preview-container {
	padding: 5px;
	width: 20%;
	margin: 10px;
	display: inline-block;
	text-align: left;
}

.product-preview-container:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
	z-index: 1;
}

.product-preview-container input {
	width: 50px;
}

.product-preview-shopping-cart-container img {
	width: 200px;
	height: 150px;
}

.product-preview-shopping-cart-container {
	padding: 40px;
	/* height:10%; */
	text-align: left;
	display: flex;
}

.btn-confirm-order {
	text-decoration: none;
	background: red;
	padding: 1em 1em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	text-align: center;
}

.btn-confirm-order:hover {
	cursor: pointer;
	background: #18cfff;
	color: #fff;
}

.product-preview-shopping-cart-container:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
	z-index: 1;
}

.product-preview-shopping-cart-container input {
	width: 50px;
}

.product-image {
	height: 100%;
	width: 100%;
}

ul {
	list-style-type: none;
	padding-left: 5px;
	text-align: center;
}

.btnDelete {
	margin-top: 60px;
	text-decoration: none;
	background: #189fff;
	padding: 1em 1em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	text-align: center;
}

.btnDelete:hover {
	background: #18cfff;
	cursor: pointer;
	color: #fff;
}

.navi-item {
	margin: 5px 5px 5px 20px;
}

.button-update-sc {
	color: red;
	margin: 5px 5px 5px 20px;
}

.button-send-sc {
	color: red;
	margin: 5px 5px 5px 20px;
}

.error-message {
	font-size: 90%;
	color: red;
	font-style: italic;
}

.price {
	color: blue;
	font-weight: bold;
}

.subtotal {
	color: red;
	font-weight: bold;
}

.total {
	color: red;
	font-weight: bold;
	font-size: 120%;
}

table td {
	padding: 5px;
}